@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: white;
  color: black;
}

a {
  color: #2563eb;
}

.container-custom {
  max-width: 1000px;
  margin: auto;
  padding: 40px 24px;
}